<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ll.mapper.BlogMapper">

    <sql id="if-title-author">
        <if test="title != null">
            title = #{title}
        </if>
        <if test="author != null">
            author = #{author}
        </if>
    </sql>

    <insert id="insertBlog" parameterType="blog">
        INSERT INTO mybatis.blog (id, title, author, create_time, views)
        VALUES (#{id}, #{title}, #{author}, #{create_time}, #{views});
    </insert>

    <select id="queryBlogIF" parameterType="map" resultType="blog">
        SELECT *
        FROM mybatis.blog
        <where>
            <include refid="if-title-author"/>
        </where>
        <!--WHERE 1=1
        <if test="title != null">
            AND title = #{title}
        </if>
        <if test="author != null">
            AND author = #{author}
        </if>-->
    </select>

    <select id="queryBlogChoose" resultType="blog" parameterType="map">
        SELECT *
        FROM mybatis.blog
        <where>
            <choose>
                <when test="title != null">title = #{title}</when>
                <when test="author != null">author = #{title}</when>
                <otherwise>AND views = #{views}</otherwise>
            </choose>
        </where>
    </select>

    <update id="updateBlog" parameterType="map">
        update mybatis.blog
        <set>
            <if test="title">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryBlogForEach" parameterType="map" resultType="blog">
        SELECT * FROM mybatis.blog
        <where>
            <foreach collection="ids" item="id" open="AND (" close=")" separator="OR">
                id = #{id}
            </foreach>
        </where>
    </select>


</mapper>