<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.ll.mapper.UserMapper">

    <!--<select id="getUserList" resultType="com.ll.com.chin.entity.User">-->
    <select id="getUserList" resultType="User">
        select *
        from mybatis.user
    </select>

    <!--结果集映射-->
    <resultMap id="UserMap" type="User">
        <!--column：数据库中的字段 property：实体类中的属性-->
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="getUserById" resultMap="UserMap">
        SELECT *
        FROM mybatis.user
        WHERE id = #{id};
    </select>

    <insert id="insertUser" parameterType="com.ll.com.chin.entity.User">
        insert into mybatis.user (id, name, pwd)
        values (#{id}, #{name}, #{pwd});
    </insert>

    <update id="updateUser" parameterType="com.ll.com.chin.entity.User">
        update mybatis.user
        set name = #{name},
            pwd=#{pwd}
        where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE
        FROM mybatis.user
        WHERE id = #{id};
    </delete>
</mapper>