<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--注册Bean-->
    <bean id="chinService" class="com.chin.service.ChinServiceImpl"/>
    <bean id="log" class="com.chin.log.Log"/>
    <bean id="afLog" class="com.chin.log.AfLog"/>
    <!--    &lt;!&ndash;方式一&ndash;&gt;-->
    <!--    &lt;!&ndash;配置Aop&ndash;&gt;-->
    <!--    <aop:config>-->
    <!--        &lt;!&ndash;配置切入点 expression：限定符——类名——类下面的方法——参数 限定符和方法名采用通配符*号进行配置&ndash;&gt;-->
    <!--        <aop:pointcut id="pointcut" expression="execution(* com.chin.service.ChinServiceImpl.*(..))"/>-->
    <!--        &lt;!&ndash;执行环绕增加&ndash;&gt;-->
    <!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
    <!--        <aop:advisor advice-ref="afLog" pointcut-ref="pointcut"/>-->
    <!--    </aop:config>-->

    <!--    &lt;!&ndash;方式二&ndash;&gt;-->
    <!--    <bean id="diy" class="com.chin.diy.DiyPoinCut"/>-->
    <!--    <aop:config>-->
    <!--        <aop:aspect ref="diy">-->
    <!--            &lt;!&ndash;切入点&ndash;&gt;-->
    <!--            <aop:pointcut id="pointcut" expression="execution(* com.chin.service.ChinServiceImpl.*(..))"/>-->
    <!--            &lt;!&ndash;通知&ndash;&gt;-->
    <!--            <aop:before method="before" pointcut-ref="pointcut"/>-->
    <!--            <aop:after method="after" pointcut-ref="pointcut"/>-->
    <!--        </aop:aspect>-->
    <!--    </aop:config>-->

    <!--方式三-->
    <bean id="annotationPoinCut" class="com.chin.diy.AnnotationDevelopment"/>
    <!--开启注解支持-->
    <aop:aspectj-autoproxy/>
</beans>